*{
    background-color: #fefbef
}

.logo_container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.logo {
    width: 220px;
    margin: 50px 0;
}

.menu_navbar {
    display: flex;
    justify-content: space-around;
    color: #F05032;
    width: 60%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #F05032 ;
}

.menu_navbar p {
    cursor: pointer;
}

.all_sections{
    width: 60%;  
    margin: 0 auto;
}

.hidden {
    display: none;
}

.article_text {
    width: 50%;
}

img {
    width: 30%;
    border-radius: 1rem;
}
.blog_article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5rem 2rem;
    border-radius: 1rem;
}

.blog_article:hover {
    color: #F05032;
}